@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  
  /* Define font families for the custom fonts */
  .font-melodrama {
    font-family: var(--font-melodrama), serif;
  }
  
  .font-clash-display {
    font-family: var(--font-clash-display), sans-serif;
  }
}