@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  
  /* Define font families for the custom fonts */
  .font-melodrama {
    font-family: var(--font-melodrama), serif;
  }
  
  .font-clash-display {
    font-family: var(--font-clash-display), sans-serif;
  }
}

@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url('/fonts/ClashDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url('/fonts/ClashDisplay-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


.text-shadow {
  text-shadow: 0 0 10px rgba(255, 255, 227, 0.7), 0 0 20px rgba(255, 255, 227, 0.3);
}